# !Huge
dist
node_modules

# --------- Exception --------- 
!__resource/.gitkeeper

## --------- Expansion --------- 
*-lock.json
*.ai
*.AppleDouble
*.cache
*.DS_Store
*.editorconfig
*.eslintcache
*.grunt
*.idea
*.lock*
*.log
*.log-*
*.logs
*.LSOverride
*.map
*.code-workspace
*.next
*.njsproj
*.node_repl_history
*.npm
*.ntvs*
*.nuxt
*.nuxt-storybook
*.nyc_output
*.OLD
*.pid
*.psd
*.seed
*.serverless
*.sln
*.stTheme.cache
*.sublime-workspace
*.suo
*.swp
*.tgz
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*.vscode
*.vuepress/dist
*.yarn-integrity

## --------- Folder ---------
__resource/
bower_components/
build/Release/
coverage/
jspm_packages/
lib-cov/
logs/
pids/
storybook-static/
temp/
test/e2e/reports/
test/unit/coverage/
textChannel/
tmp/
typings/
upload/ 
del/
delme/
trash/
delete/
.idea/
.vscode/
.nuxt/

## --------- Folder Extend ---------
**/*/tmp

## --------- Files --------- 
sftp-config.json
wizard.png
sw.*
temp-*